@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.blob_style {
  width: 440px;
  height: 440px;
  border-radius: 10rem;
  background: radial-gradient(62.61% 62.61% at 95.23% 6.02%, #160E71 0%, rgba(19, 13, 92, 0.26) 54.71%, rgba(90, 35, 248, 0) 100%), linear-gradient(72.48deg, #EF516D 2.61%, rgba(106, 103, 227, 0) 56.18%), radial-gradient(45.23% 45.23% at 35.11% -11.02%, #7936AE 0%, rgba(121, 54, 174, 0) 100%), radial-gradient(94.51% 124.88% at 94.32% 94.43%, rgba(65, 244, 255, 0.78) 0%, rgba(131, 218, 255, 0.6552) 32.29%, rgba(99, 175, 240, 0.3978) 64.06%, rgba(43, 90, 211, 0) 100%), linear-gradient(313.04deg, #341D65 0.93%, #604AEA 125.68%);
  background-blend-mode: normal, normal, normal, normal, normal, normal;
  filter: blur(26px);
}




.stagger>* {
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
}

.stagger>*:nth-child(1) {
  animation-delay: 0s;
}

.stagger>*:nth-child(2) {
  animation-delay: 0.1s;
}

.stagger>*:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.clipRectTopLeft {
  width: 100%;
  animation: clipRectTopLeftAnimation 300ms forwards ease-in-out;


}


.clipRectBottomRight {
  width: 100%;
  animation: clipRectBottomRightAnimation 300ms forwards ease-in-out;



}







@keyframes clipRectBottomRightAnimation {
  0% {
    clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);
  }

  100% {
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 100%);
  }
}




@keyframes clipRectTopLeftAnimation {
  from {
    clip-path: polygon(0 0, 0 0, 0% 0%, 0 0%);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 0% 100%, 0 100%);
  }
}




@keyframes clipRectTopLeftReverseAnimation {
  from {
    clip-path: polygon(0 0, 100% 0, 0% 100%, 0 100%);
  }

  to {
    clip-path: polygon(0 0, 0 0, 0% 0%, 0 0%);
  }
}

@keyframes clipRectBottomRightReverseAnimation {
  from {
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 100%);
  }

  to {
    clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);
  }
}

.clipRectTopLeftReverse {
  width: 100%;
  animation: clipRectTopLeftReverseAnimation 300ms forwards ease-in-out;
}

.clipRectBottomRightReverse {
  width: 100%;
  animation: clipRectBottomRightReverseAnimation 300ms forwards ease-in-out;
}



.jump-and-shake {
  animation: jumpAndShake 0.9s ease-in-out forwards;
  animation-iteration-count: infinite;

}



@keyframes jumpAndShake {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px) rotate(5deg);
  }

  100% {
    transform: translateY(0);
  }





}


.loader {
  width: calc(100px - 24px);
  height: 50px;
  position: relative;
  animation: flippx 2s infinite linear;
}

.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2A2F4F;
  transform-origin: -24px 50%;
  animation: spin 1s infinite linear;
}


.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #917FB3;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

@keyframes flippx {

  0%,
  49% {
    transform: scaleX(1);

  }

  50%,
  100% {
    transform: scaleX(-1);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}